
.formControl, .formControl:active {
    /*border: 1px solid black;*/
    /*outline: none;*/
}

.formControl.error input, .formControl.error textarea {
    border: 3px solid red;
    outline: none;
}

.error span {
    color: red;
    font-size: 13px;
}

.fieldSummaryError {
    border: 1px solid red;
    color: #ce8888;
    padding: 5px;
}