
.formControl, .formControl:active {

}

.formControl.error input, .formControl.error textarea {
    border: 3px solid red;
    outline: none;
}

.error span {
    color: red;
    font-size: 13px;
}

.fieldSummaryError {
    font-size: 14px;
    border: 1px solid red;
    color: #ce8888;
    padding: 5px;
}